/build
/packages
/intermediate
/.vs
*.vcxproj.user
*.opensdf
*.sdf
/*.opendb
peparser.aps
*.db
.idea
cmake-build-release
cmake-build-debug
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json